.news-image-container{
    display: flex;
    flex-wrap: wrap;
}
.news-image{
    border-radius: 10px;
    max-height: 100px;
}
.news-card{
    border-radius: 10px;
}
.date{
    padding: 0.15rem 0.5rem;
    padding-top:0.25rem;
    font-style: italic;
}